.table-nav {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  margin: 6rem 5rem;
  display: flex;
  justify-content: end;
  align-items: center;
  color: #545f7d;
  .select-page-num {
    display: flex;
    align-items: center;
    gap: 7px;
    .select {
      border-radius: 5px;
      padding: 4px 7px;
      background: rgba(33, 63, 125, 0.1);
    }
  }
  .pagination {
    display: flex;
    align-items: center;
    gap: 10px;
    .bf-btn,
    .nxt-btn {
      width: 2rem;
      height: 2rem;
      border: 1px solid grey;
      padding: 5px;
      cursor: pointer;
      border-radius: 5px;
      background: rgba(33, 63, 125, 0.1);
    }
  }
}
